.photoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px;
  box-shadow: inset 0px 0px 14px 0px rgba(112, 121, 153, 0.30);


  .photoInfo {
    margin-top: 8px;
    font-weight: bold;
  }

  .photoImage {
    width: 100px;
    height: 100px;
    margin-top: 8px;
  }

  .addToFavButton {
    margin-top: 8px;
    padding: 4px 8px;
    background-color: #ffa423;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
